body {
    background: linear-gradient(rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
    url("../images/ingredients_table.jpg");
    background-size: auto;
}

.result-body {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 125px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.6), 0 25px 25px 0 rgba(0, 0, 0, 0.5);
    transition: 0.4s;
    flex: 0 1 49%;
    margin-top: 15px;
    border-radius: 20px;
    object-fit: cover;
    background-image:
            linear-gradient(
                    #dec9af, #e6c9b3
            );
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(238, 238, 238, 0.3);
}

.prep-time {
    color: #e36413;
    font-family: "Arial",sans-serif;
    float: left;
    font-size: 20px;
}

.time-taken {
    padding-left: 10px;
    float:left;
    font-size: 20px;
    padding-bottom: 10px;
}

.container {
    padding: 2px 16px;

}

#page-intro {
    padding-top: 45px;
    font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
    font-size: 45px;
    color: #eeeeee;
    margin-left: 50px;
}

#card-title {
    font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
    font-size: 30px;
}

#card-prep-time {
    font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
    font-size: 20px;
}

#a-recipe-link {
    text-decoration: none;
    color:black;
}

a:visited {
    color: black;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.button-redo {
    display: block;
    margin: 0 auto;
    width: 210px;
    height: 50px;
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid #eeeeee;
    border-radius: 0.6em;
    color: #eeeeee;
    cursor: pointer;
    /* align-self: center; */
    font-size: 1rem;
    line-height: 1;
    padding: 1em 2em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.button-redo:hover {
    box-shadow: 0 0 40px 40px #e74c3c inset;
    color: white;
}

.button-redo:focus {
    color: #fff;
    outline: 0;
}

.button-main-menu {
    display: block;
    margin: 1rem auto;
    width: 165px;
    height: 50px;
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid #eeeeee;
    border-radius: 0.6em;
    color: #eeeeee;
    cursor: pointer;
    /* align-self: center; */
    font-size: 1rem;
    line-height: 1;
    padding: 1em 2em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.button-main-menu:hover {
    box-shadow: 0 0 40px 40px #e74c3c inset;
    color: white;
}

.button-main-menu:focus {
    color: #fff;
    outline: 0;
}

p {
    font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
}

img {
    width: 100px;
    image-rendering: pixelated;
}

/* For loader icon */

.loader-container {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 20%;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #e74c3c;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0%  { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*media-queries*/
@media screen and (max-width: 800px) {
    .body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        flex: 0 1 100%;
    }

    .button {
        padding-left: 70px;
        text-align: center;
        margin:auto;
        width:50%;
    }
}